*{
    margin: 0px;
    padding: 0px;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: darkslategrey;
}
.container{
    width: 400px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
.to-do_header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.to-do_header img{
    height: 25px;
    width: 25px;
    margin-left: 8px;
}
.to-do_body{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: rgba(146, 141, 141, 0.403);
    border-radius: 20px;
}
.to-do_body img{
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding:10px;
    background-color: blueviolet;
    border-radius: 20px;
}
.to-do_body input{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}


.result{
    display: flex;
    justify-content: space-between;
    background: rgba(146, 141, 141, 0.403);
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

li{
    align-items: center;
    justify-content: space-between;
    background: #c9cfda;
    margin-bottom: 10px;
    border-radius: 10px;
}

.li_div{
    display: flex;
    justify-content: space-between;
}
.delete_image{
    width: 15px;
    height: 15px;
}

.success_complete{
    color: green;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    transition: opacity 0.5s ease;
}
.success_complete.fade-out {
    opacity: 0;
}
.success_add{
    color: rgb(113, 128, 0);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    transition: opacity 0.5s ease;
}
.success_add.fade-out {
    opacity: 0;
}


